# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.npm/

# Mobile
android/.gradle/
android/app/build/
ios/build/
ios/Pods/

# Environment
.env
.env.local

# Database
*.db
*.sqlite

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
